<div #manuel class="manuel">
    <span class="section" title="name">
      <p class="title">name</p>
      <p class="statement">ecy - ensar can yamak</p>
    </span>

  <span class="section" title="synopsis">
      <p class="title">synopsis</p>
      <p class="statement">ecy [OPTIONS]</p>
    </span>

  <span class="section" title="description">
      <p class="title">description</p>
      <p class="statement">he has a bachelor's degree in computer science from TOBB ETU.</p>
      <p class="statement">since 2021, he has been working as full-stack developer.</p>
    </span>

  <span class="section" title="options">
      <p class="title">options</p>
      <p class="statement">The following options are available:</p>

      <span class="statement option">
        <p class="option key">--cv</p>
        <p class="option value">display curriculum vitae</p>
      </span>

      <span class="statement option">
        <p class="option key">--social</p>
        <p class="option value">display the social media accounts</p>
      </span>
    </span>

  <span class="section" title="environment">
      <p class="title">environment</p>
      <p class="statement">The following environment variables affect the execution of ecy:</p>

      <span class="statement option">
        <p class="option key">LANG</p>
        <p class="option value">java(default), js</p>
      </span>

      <span class="statement option">
        <p class="option key">FRAMEWORK</p>
        <p class="option value">spring(default), angular</p>
      </span>
    </span>

  <span class="section" title="examples">
      <p class="title">examples</p>
      <p class="statement">Show the related social media accounts:</p>
      <p class="statement">$ ecy --social</p>
    </span>

  <span class="section" title="status">
      <p class="title">exit status</p>
      <p class="statement">The ecy command exits 0 on success, and > 0 if an error occurs.</p>
    </span>

  <span class="section" title="also">
      <p class="title">see also</p>
      <p class="statement">contact(1), cv(1), social(3)</p>
    </span>
</div>
