@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

html {
  font-size: small;
}

body {
  font-family: "Andale Mono", monospace;
  line-height: 1.4;
  margin: 0;
  color: #03C03C;
  caret-color: #03C03C;
}

.command {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  caret-color: inherit;
}

input:focus {
  outline: none;
}
